// color
$green: #4BB92F;
$orange: #FF8700;
$blue: #0078FF;
$purple: #8D00FF;
$darkBlue: #282C48;
$fontColor: #212631;
$fontColorFooter: #A7B3C6;
$whiteFontColor: #ffffff;
$background: #FFFFFF;

// font
$fontFamily: 'Open Sans', sans-serif;


// div format
