* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #first_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 2em;
}

main #first_section .first_section_div {
  width: 600px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.8em;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #first_section .first_section_div .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #first_section .first_section_div h4 {
  color: #ffffff;
  background-color: #FF8700;
  font-weight: 500;
  border-radius: 5px;
  width: 110px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #first_section .first_section_div span {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #first_section .first_section_div h3 {
  color: #ffffff;
  text-align: justify;
}

main #first_section .first_section_div:hover {
  cursor: pointer;
  opacity: 0.8;
}

main #first_section .first_section_div:nth-child(1) {
  background-image: url("../img/img1.jpg");
}

main #first_section .first_section_div:nth-child(2) {
  background-image: url("../img/img5.jpg");
}

main #first_section .first_section_div:nth-child(2) h4 {
  background-color: #8D00FF;
}

main #second_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-top: 2em;
}

main #second_section h2 {
  color: #212631;
  font-size: 35px;
  width: 100%;
}

main #second_section .second_section_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3.3em 0;
}

main #second_section .second_section_content .second_section_content_div {
  width: 350px;
  height: 300px;
}

main #second_section .second_section_content .second_section_content_div img {
  width: 100%;
  height: 230px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main #second_section .second_section_content .second_section_content_div img:hover {
  cursor: pointer;
  opacity: 0.8;
}

main #second_section .second_section_content .second_section_content_div .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7em 0;
}

main #second_section .second_section_content .second_section_content_div h4 {
  color: #ffffff;
  background-color: #FF8700;
  font-weight: 500;
  border-radius: 5px;
  width: 110px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main #second_section .second_section_content .second_section_content_div h4:hover {
  cursor: pointer;
  opacity: 0.6;
}

main #second_section .second_section_content .second_section_content_div span {
  color: #212631;
  font-weight: 500;
  font-size: 15px;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #second_section .second_section_content .second_section_content_div a {
  color: #212631;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #second_section .second_section_content .second_section_content_div a:hover {
  text-decoration: underline;
}

main #second_section .second_section_content .second_section_content_div:nth-child(2) h4 {
  background-color: #4BB92F;
}

main #second_section .second_section_content .second_section_content_div:nth-child(3) h4 {
  background-color: #8D00FF;
}

main #second_section .second_section_content:nth-child(3) .second_section_content_div:nth-child(1) h4 {
  background-color: #4BB92F;
}

main #second_section .second_section_content:nth-child(3) .second_section_content_div:nth-child(2) h4 {
  background-color: #0078FF;
}

main #second_section .second_section_content:nth-child(3) .second_section_content_div:nth-child(3) h4 {
  background-color: #FF8700;
}
/*# sourceMappingURL=styles.css.map */